<div class="MetaGrid">
    <button data-dojo-attach-point="refreshButtonNode" type="button" class="btn mx-button meta-grid-refresh-button" tabindex="0">  </button>

    <div class="meta-grid-paging">
        <button data-dojo-attach-point="firstButtonNode" type="button" class="btn mx-button meta-grid-first-button" tabindex="0">  </button>
        <button data-dojo-attach-point="previousButtonNode" type="button" class="btn mx-button meta-grid-previous-button" tabindex="0">  </button>

        <span   data-dojo-attach-point="pageOfNode" type="button" class="meta-grid-page-of">
        0
        </span>
        of
        <span   data-dojo-attach-point="totalPagesNode" type="button" class="meta-grid-total-pages">
        0
        </span>

        <button data-dojo-attach-point="nextButtonNode" type="button" class="btn mx-button meta-grid-next-button" tabindex="0">  </button>
        <button data-dojo-attach-point="lastButtonNode" type="button" class="btn mx-button meta-grid-last-button" tabindex="0">  </button>
    </div>

    <div class="meta-grid-history" data-dojo-attach-point="historyNode">

    </div>
    <div class="meta-grid" data-dojo-attach-point="gridNode">

    </div>
    <div class="meta-grid-xpath" data-dojo-attach-point="xpathNode" style="display: none">

    </div>
</div>

